# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# venv
.venv/
venv/
ENV/

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo

.history/
model/*

data_and_model.zip
eval_data/
results/
.DS_Store